<h2>Edit an existing transaction here.</h2>

<form method="POST" action="/transactions/<%= @transaction.id  %>"> 

    <label for="add_value"> Value of transaction</label>
      <input type="text" name="value" id="add_value">


    <label for="select_tag">Select Tag</label>
      <select name="tag_id" id="select_tag"><% @tags.each do |tag| %>
      <option value=<%= tag.id %>><%= tag.name %></option>
      <% end %>
      </select>


    <label for="select_merchant"> Select Merchant</label>
      <select name="merchant_id" id="select_merchant"><% @merchants.each do |merchant| %>
      <option value=<%= merchant.id %>><%= merchant.name %></option>
      <% end %>
      </select>

  <input type="submit" value="Save this edited transaction"/>

</form>