<h2>Edit an existing transaction here.</h2>

<form method="POST" action="/transactions/<%= @transaction.id  %>"> 

  <label for="add_value"> Value of transaction</label>
  <input id="add_value" type="text" name="value" value ="<%= sprintf('%.2f', @transaction.value/100.00) %>">


  <label for="choose-tag">Edit tag</label>
  <select id="choose-tag" name="tag_id"><% @tags.each do |tag| %>
    <option value=<%= tag.id %> <%= "selected" if @transaction.tag_id() == tag.id %>><%= tag.name %></option>
    <% end %>
  </select>

  <label for="select-merchant">Edit merchant</label>
  <select id= "select-merchant" name="merchant_id"><% @merchants.each do |merchant| %>
    <option value=<%= merchant.id %> <%= "selected" if @transaction.merchant_id() == merchant.id %>><%= merchant.name %></option>
    <% end %>
  </select>


  <input type="submit" value="Save this edited transaction"/>

</form>