<hr>
<h1>Below is a list of all your Transactions</h1>
<hr>


<div>
  <% @transactions.each.reverse_each do |transaction| %>

    <p>Transaction id: <%= transaction.id %></p>
    <p>Value: <%= transaction.value/1.00 %></p>
    <p>Tag: <%= transaction.tag.name %></p>
    <p>Merchant: <%= transaction.merchant.name %></p>
    <p><a href="/transactions/<%= transaction.id %>/edit">Edit this transaction</a></p>
    <p><a href="/transactions/<%= transaction.id %>/delete">Delete this transaction</a></p>
    <hr/>
  <% end %>
</div>


