<hr>
<h1>Below is a list of all your Transactions</h1>
<hr>


<div>
  <% @transactions.each.reverse_each do |banana| %>

    <p>Transaction id: <%= banana.id %></p>
    <p>Value: £<%= sprintf('%.2f', banana.value/100) %></p>
    <p>Tag: <%= banana.tag.name %></p>
    <p>Merchant: <%= banana.merchant.name %></p>
    <p><a href="/transactions/<%= banana.id %>/edit">Edit this transaction</a></p>
    <p><a href="/transactions/<%= banana.id %>/delete">Delete this transaction</a></p>
    <hr/>
  <% end %>
</div>
