<!DOCTYPE html>
<html>

<head>
  <title>Alan's MoneyCashboard App</title>
  <link rel="stylesheet" href="/styles.css">
</head>

<body>

  <header>
    <h1>Alan's MoneyCashboard App</h1>
    <h2>"Look after the pennies and the pounds will look after themselves."</h2>
  </header>

  <hr/>

  <div>
    <ul>
    <li><a href="/transactions">View all transactions</a></li>
    <li><a href="/transactions/new">Add a transaction</a></li>
      <li><a href="" target="_blank">Edit a transaction</a></li>
      <li><a href="" target="_blank">Delete a transaction</a></li>
    </ul>
  </div>

  <div>
    <p>Total spend on everything: <%= Transaction.total_spent %></p>
    <p>Total spend on food: <%= Transaction.total_tag_spend(1) %></p>
    <p>Total spend on social: <%= Transaction.total_tag_spend(2) %></p>
    <p>Total spend on transport: <%= Transaction.total_tag_spend(3) %></p>
    <p>Total spend on holidays: <%= Transaction.total_tag_spend(4) %></p>
  </div>


<%= yield %>


    <br/>

  <footer>
    <p>Contact: Alan White, 07971570832, alanwhitey@gmail.com</p>
  </footer>
</body>
</html>