<!DOCTYPE html>
<html>

<head>
  <title>Alan's MoneyCashboard App</title>
  <link rel="stylesheet" href="/styles.css">
</head>

<body>

  <header>
    <h1>Alan's MoneyCashboard App</h1>
    <h2>"Look after the pennies and the pounds will look after themselves."</h2>
  </header>

  <hr/>

  <div>
    <ul>
      <li><a href="/transactions">View all transactions</a></li>
      <li><a href="/transactions/new">Add a transaction</a></li>
    </ul>
  </div>

<!-- Below: the total_spent is /100 because the input on the new transaction form has no decimal point. i.e. the value is inserted in pence.
 -->  
 <div>
    <p>Total spend on everything: £ <%= sprintf('%.2f',Transaction.total_spent/100) %></p>
    <p>Total spend on food: £ <%= sprintf('%.2f',Transaction.total_tag_spend(1)/100) %></p>
    <p>Total spend on social: £ <%= sprintf('%.2f',Transaction.total_tag_spend(2)/100) %></p>
    <p>Total spend on transport: £ <%= sprintf('%.2f',Transaction.total_tag_spend(3)/100) %></p>
    <p>Total spend on holidays: £ <%= sprintf('%.2f',Transaction.total_tag_spend(4)/100) %></p>
  </div>


<%= yield %>


    <br/>

  <footer>
    <p>Contact: Alan White, 07971570832, alanwhitey@gmail.com</p>
  </footer>
</body>
</html>